* {font-family: 'Montserrat', sans-serif; font-family: 'Rosario', sans-serif;}

/*===========================================================================*/

.principal {
    width: 600px;
}

.principal img {
    width: 25%;
    float: left;
    vertical-align: middle;
}

.menu ul{
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

.menu ul li {
    display: inline;
}